@{
    ViewBag.Title = "FAQ PAGE";
}
<h2>@ViewBag.Title.</h2>
<h3>While 38% of the population qualifies for donating blood, according to RED CROSS less than 10% of the population are actually donating. Numbers are even lower in the rest of the world, with some countries relying mostly on blood from people that ask money for their gesture. Probably the reason for these dwindling numbers may be the lack of awareness on the benefits and procss of blood donation. The following questions answers the most frequently asked questions on blood donation.</h3>
<h3>Q1. Who can donate blood?</h3>
<p>Blood donors must</p>
<li>Be in good general health and feeling well.</li>
<li>Be at least 17-years-old in most states, or 16-years-old with parental consent if allowed by state law.</li>
<li>Weigh at least 110 lbs.</li>
<li>Have not donated blood in the last 56 days.</li>

<h3>Q2. Is it safe to donate blood?</h3>
<p>
    Donating blood is a safe process. Each donor’s blood is collected through a new, sterile needle that is used once and then discarded. You cannot get HIV or any other infectious disease from donating blood. Although most people feel fine after donating

    blood, a small number of people may feel lightheaded or dizzy, have an upset stomach or experience a bruise or pain where the needle was inserted. Extremely rarely, loss of consciousness, nerve damage or artery damage occur.
</p>

<h3>Q3. I am taking medications. Can I still donate blood?</h3>
<p>
    Many medications are acceptable. Consult your physician to be sure you're well enough to donate and ask your community blood center medical staff if you have questions about your eligibility to donate.  Do not assume you're not eligible without inquiring.
</p>

<h3>Q4. How long will it take to replenish the pint of blood I donate?</h3>
<p>
    The plasma from your donation is replaced within about 24 hours. Red cells need about four to six weeks for complete replacement. That’s why at least eight weeks are required between whole blood donations.
</p>

<h3>Q5. How does the blood donation process work?</h3>
<p>
    Donating blood is a simple thing to do, but can make a big difference in the lives of others. The donation process from the time you arrive until the time you leave takes about an hour. The donation itself is only about 8-10 minutes on average. The steps in

    the process are:
</p>

<b>Registration</b>

<p>
    <li>Your personal particulars will be recorded and you will be asked to fill out a health assessment questionnaire.</li>
    <li>You will be asked to show a passport, driver’s license or two other forms of ID.</li>
</p><br>

<b>Medical screening</b>
<p>
    A Health Screener will ask you about your medical, travel and social history to confirm that you are fit to make a donation, after which your weight, blood pressure, pulse and body temperature will be taken.
</p>

<b>Blood test</b>
<p>
    Your blood haemoglobin level will be checked to ensure that you can make a donation.
</p>

<b>Blood donation</b>
<p>
    Your arm will be cleaned, after which a local painkiller will be applied to ensure that you feel minimal pain during the donation. The actual withdrawal of blood takes about 5 to 10 minutes and about 350 – 450 ml of blood is collected.
</p>

<b>Refreshments</b>
<p>
    After the donation, you are advised to rest for 10 to 15 minutes and have some light refreshments before resuming normal activities.
</p>

<h3>Q6. Is there anything I should do before I donate blood?</h3>
<p>
    Be sure to eat well at your regular mealtimes and drink plenty of fluids.
</p>

<h3>Q7. How often can I donate blood?</h3>
<p>
    Donate whole blood every 56 days. Red blood cells are the oxygen carrying cells. They can take two weeks or longer to fully return to normal.
    Donate platelets (apheresis donation) as much as twice in a 7 day period - or up to 24 times in a rolling 12 months. Platelet and plasma components are replaced in the body more quickly than red cells. Platelets will return to normal levels within a few hours

    of donating. Plasma, the watery substance of your blood, takes a couple of days.
</p>

<h3>Q8. What are different types of blood donations?</h3>
<li><b>Blood(Whole Blood) Donation</b></li>
<p>
    This is the most common type of donation, during which approximately a pint of 'whole blood' is given. The blood is separated into transfusable components – red cells, plasma, platelets and/or cryoprecipitated AHF.
</p>
<li><b>Platelet Apheresis</b></li>
<p>
    Platelets are a vital element of cancer and organ transplant treatments, as well as many surgical procedures as they help prevent massive blood loss. During this type of donation, an apheresis machine collects the platelets and some plasma and returns the red cells and most of the plasma back to the donor.
</p>
<li><b>Double Red Cell Donation</b></li>
<p>
    Double red cell donations are performed using an apheresis machine, where the actual donation takes about 30-35 minutes, and allow you to donate two pints of red cells.
</p>

<h3>Q9. When and where can I donate blood?</h3>
<p>
    The University conducts Blood Drives in which a registered student/donor can participate after he/she schedules an appointment. There are three types of Blood-Drives namely Blood Drive, Platelets drive and Double-Red-Cells drive.
    The blood drives are conducted in 3 slots through the day which the user can select while scheduling an appointment; namely, Morning slot (9 am to 12 pm), Afternoon slot (1 pm to 4 pm) and the evening slot (5 pm to 8 pm).
</p>