@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Northeatern University<br />
    Boston, MA 02120, <br />
    United States of America<br />
    <abbr title="Phone">P:</abbr>
    +1-617-870-1912
</address>

<address>
    <strong>Partner 1:</strong> <a href="sivaramakrishnan.s@husky.neu.edu">sivaramakrishnan.s@husky.neu.edu</a><br />
    <strong>Partner 2:</strong> <a href="sharma.nih@husky.neu.edu">sharma.nih@husky.neu.edu</a>
</address>