@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>
        THE BLOOD DONOR's HUB
    </h2>
    <h3>
        The Blood Donors’ Hub is Northeaastern University's very own Blood Donor Club. This application allows an enrolled student of the university to register, login, participate in the university's upcoming blood drives, keep a track of the number of drives he/she has participated in, earn points for each donation, etc. Blood Donation is a noble task. One that is highly benificial for one's own health and help in saving other's lives. The application strives to throw light on the same fact and bring about awareness on blood Donation as a Noble hobby. The aim of the application is to make available blood of required blood group as early as possible when a request is made. 
        out blood donation. Increasing diverse blood donor recruitment is critical to the future of our Nation’s blood supply. The Blood Donors’ Hub is implementing initiatives throughout the country to increase the number of blood donors in diverse communities and raise awareness of the need to give blood. The Red Cross also works to find rare blood donors to meet the specialized needs of patients all over the country. Through its 39 Immunohematology Reference Laboratories, offering support to hospitals across the country, and its collaboration with AABB on the American Rare Donor Program, the Red Cross helps ensure that patients will get the blood they need at any time of the day or night. Providing life-saving blood and blood products to patients is a key component of the Red Cross mission to help people in times of emergency and disasters.
        Blood Donors’ Hub is a Blood Donor Web App that puts the power to support life in the palm of your hand.

        The system makes donating blood, RBCs and platelets easier than ever. It facilitates updating the registered eligible

        users about the upcoming blood drives, scheduling appointments, checking donor reward points, accessing and

        tracking health data in User Wellness Profiles, keeping track of your blood donations, sharing your donation

        information on social media, and inviting others to make a difference too.

        Blood Donors’ Hub is uniquely positioned to bring this cutting edge technology to blood donors. In addition to

        scheduling and managing blood donation appointments, other features of the app will include:

         Updates registered eligible users about upcoming blood drives quickly and easily

         Convenient, easy appointment scheduling and rescheduling

         Manage contact preferences

         Keep track of your blood donations (whole blood, RBCs, platelets)

         Receive appointment reminders

         Invite a friend to donate blood and Be the Giving Type

         Share your donation information on social media

         Get in touch with University Donor Services

        In short, Blood Donors’ Hub Web App makes it easy to be a better blood donor!</h3>
</div>

<div class="row">
    <table class="col-md-4">
        <tr>
            <td>
                <marquee direction="left"><strong>Register to create an account and schedule appointments to donate blood at the next available blood drive on campus!</strong></marquee>
            </td>
        </tr>
        <tr>
            <td>
                <marquee direction="left"><strong>Check out our FAQ page to answer your queries regarding blood donation and the types of blood drives organised by Blood Donor's Hub.</strong></marquee>
            </td>           
        </tr>
    </table>
    
</div>